p {
color:red;
}
body {
   align:center;
    text-align:center;
    background-color: tan;
}
body {
    background-image: url('http://upload.wikimedia.org/wikipedia/commons/a/a8/Fresh_ramen_noodle_001.jpg');

}
